.cell-style {
    -fx-font-size: 14px;
    -fx-text-fill: darkblue;
    -fx-background-color: transparent;
}
.time-stamp {
    -fx-font-size: 10px;
    -fx-font-style: italic;
    -fx-text-fill: rgba(100, 100, 100, 0.9);
    -fx-background-color: transparent;
}
.delete-button {
    -fx-font-size: 10px;
    -fx-background-color: orange;
    -fx-text-fill: white;
}
.download-button {
    -fx-font-size: 10px;
    -fx-background-color: green;
    -fx-text-fill: black;
}

.list-view {
    -fx-background-image: url("serene-duck-close-up-stockcake.jpg");
    -fx-background-position: center;
    -fx-background-size: 800, 480;
    -fx-background-repeat: no-repeat;


}