.cell-style {
    -fx-font-size: 14px;
    -fx-text-fill: darkblue;
    -fx-background-color: transparent;
}
.time-stamp {
    -fx-font-size: 9px;
    -fx-font-style: italic;
    -fx-text-fill: red;
    -fx-background-color: transparent;
}
.delete-button {
    -fx-font-size: 10px;
    -fx-background-color: orange;
    -fx-text-fill: white;
}

.list-view {
    -fx-background-image: url("serene-duck-close-up-stockcake.jpg");
    -fx-background-position: center;
    -fx-background-size: 800, 480;
    -fx-background-repeat: no-repeat;


}